%h1 Create New Account 
%br/
%div.highlight= flash[:notice]
%div#account-form{:align => 'center'}
  %form{:action => "/accounts", :method => "post"}
    %div.text-input
      %fieldset
        %label Username:
        %input#Param{:name => "username", :size => "35", :type => "text", :value => ""}
      %fieldset
        %label Password:
        %input#Param{:name => "password", :size => "35", :type => "password", :value => ""}
      %fieldset
        %label First Name:
        %input#Param{:name => "first_name", :size => "35", :type => "text", :value => ""}
      %fieldset
        %label Last Name:
        %input#Param{:name => "last_name", :size => "35", :type => "text", :value => ""}
      %fieldset
        %label Email:
        %input#Param{:name => "email", :size => "35", :type => "text", :value => ""}
      %fieldset
        %label Premissions:
    %div.permissions
      - @roles.each_key do |role|
        %fieldset
          %input{:type => "checkbox", :name => "#{role}", :value => "#{@roles[role]}"} 
          %label=role
    %br/
    %input#processBtn{:name => "process_btn", :type => "submit", :value => "Submit"}
    %a(href="/accounts")Cancel
